doctype html
html
  head
    title Aurelia
    link(rel="stylesheet", type="text/css", href="styles/styles.css")
    script(src="bower_components/webcomponentsjs/webcomponents.js")
    script(src="/socket.io/socket.io.js")
  body(aurelia-app)
    div.splash
      div.message Aurelia Navigation Skeleton

    script(src="jspm_packages/system.js")
    script(src="config.js")
    script System.import("aurelia-bootstrapper");
