colorPrimary = #3f51b5
colorPrimaryLight = #c5cae9
colorPrimaryDark = #303f9f
colorAccent = #ff8a65
colorAccentLight = #ffccbc
colorAccentDark = #ff5722

body
  font-family "RobotoDraft", sans-serif

[main]
  background-color #F9F9F9

[drawer]
  background-color #FFFFFF

core-toolbar
  background-color colorPrimary
  color white

.searchButton
  color colorAccent
